blur {
    passes 3
}
output "eDP-1" {
    mode "2160x1350@59.744"
    scale 1.5
    transform "normal"
    position x=-1440 y=91
}
output "DP-1" {
    mode "1920x1080@143.855"
    scale 1.0
    transform "normal"
    position x=0 y=0
}