binds {
   Mod+E                                                 { spawn "nautilus" "--new-window"; }
   Mod+L repeat=false                                    { spawn-sh "noctalia msg session lock"; }
   Mod+T                                                 { spawn "kitty"; }
   Mod+W repeat=false                                    { spawn-sh "noctalia msg panel-toggle launcher"; }
   Mod+S                                                 { spawn-sh "flatpak run app.zen_browser.zen"; }
   Mod+Period                                            { spawn "gnome-characters"; }
   Mod+V                                                 { spawn-sh "cliphist list | fuzzel --dmenu --with-nth 2 | cliphist decode | wl-copy"; }
   Mod+ESCAPE allow-inhibiting=false                     { toggle-keyboard-shortcuts-inhibit; }
   CTRL+ALT+Delete                                       { quit; }
   ALT+TAB						 { spawn-sh "noctalia msg window-switcher"; }
   Print                                                 { screenshot; }
   F11 repeat=false                                      { fullscreen-window; }
   Mod+Shift+P                                           { power-off-monitors; }
   Mod+O repeat=false                                    { toggle-overview; }
   Mod+Q                                                 { close-window; }
   Mod+F                                                 { maximize-window-to-edges; }
   Mod+K repeat=false                                    { toggle-window-floating; }
   Mod+D repeat=false                                    { focus-column-right; }
   Mod+A repeat=false                                    { focus-column-left; }
   Mod+Home                                              { focus-column-first; }
   Mod+End                                               { focus-column-last; }
   Mod+CTRL+Home                                         { move-column-to-first; }
   Mod+CTRL+End                                          { move-column-to-last; }
   Mod+WheelScrollDown cooldown-ms=150                   { focus-workspace-down; }
   Mod+WheelScrollUp cooldown-ms=150                     { focus-workspace-up; }
   Mod+CTRL+WheelScrollDown cooldown-ms=150              { move-column-to-workspace-down; }
   Mod+CTRL+WheelScrollUp cooldown-ms=150                { move-column-to-workspace-up; }
   Mod+WheelScrollRight                                  { focus-column-right; }
   Mod+WheelScrollLeft                                   { focus-column-left; }
   Mod+CTRL+WheelScrollRight                             { move-column-right; }
   Mod+CTRL+WheelScrollLeft                              { move-column-left; }
   Mod+Shift+WheelScrollDown                             { focus-column-right; }
   Mod+Shift+WheelScrollUp                               { focus-column-left; }
   Mod+CTRL+Shift+WheelScrollDown                        { move-column-right; }
   Mod+CTRL+Shift+WheelScrollUp                          { move-column-left; }
   Mod+1                                                 { focus-workspace 1; }
   Mod+2                                                 { focus-workspace 2; }
   Mod+3                                                 { focus-workspace 3; }
   Mod+4                                                 { focus-workspace 4; }
   Mod+5                                                 { focus-workspace 5; }
   Mod+6                                                 { focus-workspace 6; }
   Mod+7                                                 { focus-workspace 7; }
   Mod+8                                                 { focus-workspace 8; }
   Mod+9                                                 { focus-workspace 9; }
   Mod+C                                                 { center-column; }
   Mod+CTRL+C                                            { center-visible-columns; }
   Mod+Minus                                             { set-column-width "-10%"; }
   Mod+Equal                                             { set-column-width "+10%"; }
   Mod+Shift+Minus                                       { set-window-height "-10%"; }
   Mod+Shift+Equal                                       { set-window-height "+10%"; }

   XF86AudioRaiseVolume allow-when-locked=true           { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
   XF86AudioLowerVolume allow-when-locked=true           { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
   XF86AudioMute allow-when-locked=true                  { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
   XF86AudioMicMute allow-when-locked=true               { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
   XF86MonBrightnessUp allow-when-locked=true            { spawn "brightnessctl" "set" "+10%"; }
   XF86MonBrightnessDown allow-when-locked=true          { spawn "brightnessctl" "set" "10%-"; }
   XF86AudioPlay allow-when-locked=true                  { spawn "playerctl" "play-pause"; }
   XF86AudioNext allow-when-locked=true                  { spawn "playerctl" "next"; }
   XF86AudioPrev allow-when-locked=true                  { spawn "playerctl" "previous"; }
}
