workspace "Main" {
    open-on-output "eDP-1"
}
workspace "Study" {
    open-on-output "eDP-1"
}
layout {
    gaps 10
    center-focused-column "never"
    struts
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    focus-ring {
    	off
        width 2
        active-color "#000000"
        inactive-color "#000000"
    }
    border {
    	on
        active-color "#aaaaaa"
        inactive-color "#aaaaaa"
        width 2
    }
    shadow {
        on
    }
    default-column-width { proportion 1.0; }
}