layout {
    gaps 6
    center-focused-column "always"
    struts
    focus-ring {
    	off
        width 2
        active-color "#000000"
        inactive-color "#000000"
    }
    border {
    	on
        active-color "#aaaaaa"
        inactive-color "#aaaaaa"
        width 2
    }
    shadow {
        on
    }
    default-column-width { proportion 1.0; }
}
